.nav-link {
  color: #007bff; 
  text-decoration: none; 
  padding: 5px 10px; 
}

.nav-link:hover {
  background-color: #b5bdc1; 
  color: #0e0f11; 
}

.no-margin {
    margin: 0 !important; /* Quita el margen */
  }
  
